<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="/images/beach.jpg" type="image/x-icon"/>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/tether/css/tether.min.css'/>
    <link rel='stylesheet' href='/bootstrap3.3.7/css/bootstrap.min.css'/>
    <script src="/jquery2.1.1/jquery-2.1.1.min.js"></script>
    <script src="/tether/js/tether.min.js"></script>
    <script src="/bootstrap3.3.7/js/bootstrap.min.js"></script>
    <script src="/javascripts/index.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script type="text/javascript" src="/ueditor/third-party/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" charset="gbk" src="/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="gbk" src="/ueditor/ueditor.all.js"> </script>
    <!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
    <!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
    <script type="text/javascript" charset="gbk" src="/ueditor/lang/zh-cn/zh-cn.js"></script>
</head>
<body>
<!-- --------------------------导航------------------------->
<div class="container navigation">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#example-navbar-collapse">
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand active" href="/">首页</a>
            </div>
            <div>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
            </div>
            <div class="collapse navbar-collapse" id="example-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li ><a href="/blogs">博客</a></li>
                    <li><a href="#">音乐</a></li>
                    <li><a href="/blogWrite">写博客</a></li>
                    <li><a href="#">留言</a></li>
                    <li><a href="#">关于</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
                </ul>
            </div>

        </div>
    </nav>
</div>
<!--背景图片-->
<div style="height: 400px" class="picture-carousel"></div>

<div id="mainPage" class="container main">
    <div class="col-xs-12">
        <!--文章推荐-->
        <div class="box-left col-xs-3">
            <h2 class="title-home title-shadow">文章推荐</h2>
            <div id="articles" class="bloglist left" >


            </div>
        </div>
        <div class="box-right col-xs-3">
            <!--搜索-->
            <div class="row" style="padding-top: 30px">
                <form method="post" action="/article/search" class="form-wrapper">
                    <input type="text" id="search" name="search" placeholder="请输入要搜索的文章" required="">
                    <input type="submit" value="搜索" id="submit">
                </form>
            </div>
            <!--内容分类-->
            <div class="row content-category" style="margin-top: 30px;background-color: #ffffff">
                <h1 class="title-shadow" style="color: #5bc0de">内容分类</h1>
                <ul>
                    <li><a href="#">nodejs</a></li>
                    <li><a href="#">mongodb</a></li>
                    <li><a href="#">java</a></li>
                    <li><a href="#">mysql</a></li>
                    <li><a href="#">关于</a></li>
                    <li><a href="#">音乐</a></li>
                    <li><a href="#">其他</a></li>
                </ul>
            </div>
            <div class="row content-category" style="margin-top: 30px;background-color: #ffffff">
                <h1 class="title-shadow" style="color: #5bc0de">热门内容</h1>
                <div id="hot-news-wrap"></div>
                <script>var yunModuleEnv = true;</script>
                <script src="https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js"></script>
                <script>
                    var yunTieProductKey = "c50d5faa642e4199a865265b4e008da8";
                    var yunHotNewsWrap = "hot-news-wrap";   //放置的DOM节点ID 或 样式类
                    Tie.loader("aHR0cHM6Ly9hcGkuZ2VudGllLjE2My5jb20vZXh0ZW5kL2hvdF9uZXdzX3NjcmlwdC5odG1s", true);
                </script>
            </div>

            <!--热门排行-->
            <div class="row hot-sort" style="margin-top: 30px;padding-bottom:-20px;height:auto;background-color: #ffffff">
                <h1 class="title-shadow" style="color: #5bc0de">热门排行</h1>
                <p id="active-line" class="active-line" style="width: 120px; left: 0px;"></p>
                <ul class="hot-recommend-ul">
                    <li class="active" order="0">点击排行</li>
                    <li class order="1">评论排行</li>
                    <li class order="2">点赞排行</li>
                </ul>
                <div id="hort-sort-content" class="hort-sort-content" style="width: 1080px;left:0px;">
                    <div class="list">
                        <ul class="" style="border-bottom: 0px ;">
                            <li >点击排行</li>
                            <li >评论排行</li>
                            <li >点赞排行</li>
                            <li >点击排行</li>
                            <li >评论排行</li>
                            <li >点赞排行</li>
                        </ul>
                    </div>
                    <div class="list">
                        <ul class="" style="border-bottom: 0px ;">
                            <li >点击排行</li>
                            <li >评论排行</li>
                            <li >点赞排行</li>
                            <li >点击排行</li>
                            <li >评论排行</li>
                            <li >点赞排行</li>
                        </ul>
                    </div>
                    <div class="list">
                        <ul class="" style="border-bottom: 0px ;">
                            <li >点击排行</li>
                            <li >评论排行</li>
                            <li >点赞排行</li>
                            <li >点击排行</li>
                            <li >评论排行</li>
                            <li >点赞排行</li>
                        </ul>
                    </div>
                </div>
                <ul class="number">
                    <li class="one">1</li>
                    <li class="two">2</li>
                    <li class="three">3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>

                </ul>
            </div>
            <!--天气预报-->
            <div class="row content-category" style="margin-top: 30px;background-color: #ffffff">
                <h1 class="title-shadow" style="color: #5bc0de">天气预报</h1>
                <iframe id="fancybox-frame" name="fancybox-frame1497520223848" frameborder="0" scrolling="no" hspace="0"  src="http://i.tianqi.com/index.php?c=code&amp;a=getcode&amp;id=19&amp;h=93&amp;w=345"></iframe>            </div>
            <!--友情链接-->
            <div class="row content-category" style="margin-top: 30px;background-color: #ffffff">
                <h1 class="title-shadow" style="color: #5bc0de">友情链接</h1>
                <ul>
                    <li><a href="http://kangzw.com/">周康博客</a></li>
                    <li><a href="http://www.chenxiaojie.net/">陈骁杰博客</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--底部-->
<div id="footer" class="col-xs-12  footer" align="center">
    <p >苏ICP备17022286号 | Design by JiangChao,version 1.0 | 登陆</p>
</div>
</body>
</html>
