<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/tether/css/tether.min.css'/>
    <link rel='stylesheet' href='/bootstrap3.3.7/css/bootstrap.min.css'/>
    <script src="/jquery2.1.1/jquery-2.1.1.min.js"></script>
    <script src="/tether/js/tether.min.js"></script>
    <script src="/bootstrap3.3.7/js/bootstrap.min.js"></script>
    <script src="/javascripts/index.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body><!-- --------------------------nav------------------------->
<div class="container navigation">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#example-navbar-collapse">
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">首页</a>
            </div>
            <div>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
            </div>
            <div class="collapse navbar-collapse" id="example-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">博客</a></li>
                    <li><a href="#">音乐</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Java <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">jmeter</a></li>
                            <li><a href="#">EJB</a></li>
                            <li><a href="#">Jasper Report</a></li>
                            <li class="divider"></li>
                            <li><a href="#">分离的链接</a></li>
                            <li class="divider"></li>
                            <li><a href="#">另一个分离的链接</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
                </ul>
            </div>

        </div>
    </nav>
</div>
<div style="height: 400px" class="picture-carousel"></div>

<div class="container main">
    <div class="col-xs-12">
    <div class="box-left col-xs-3">
        <h2 class="title-home">文章推荐</h2>
        <div class="bloglist left">
            <div class="article">
                <h3><a href="/jstt/bj/2015-01-09/740.html">【匆匆那些年】总结个人博客经历的这四年…</a></h3>
                <div class="left" style="width:250px;height: 200px">
                    <a><img src="../images/1d7c3211eba65ca6b328d7f28e10ecc6.jpg"
                            alt="【匆匆那些年】总结个人博客经历的这四年…"></a>
                </div>
                <div class="right" style="width:400px;height:200px">
                    <ul>
                        <p>博客从最初的域名购买，到上线已经有四年的时间了，这四年的时间，有笑过，有怨过，有悔过，有执着过，也有放弃过…但最后还是坚持了下来，时间如此匆匆，等再回过头已来不及去弥补</p>
                        <a title="【匆匆那些年】总结个人博客经历的这四年…" href="/jstt/bj/2015-01-09/740.html" target="_blank" class="readmore">阅读全文&gt;&gt;</a>
                    </ul>
                    <p class="dateview"><span>2015-01-09</span><span>作者：jiangchao</span><span>个人博客：[<a href="/jstt/bj/">心得笔记</a>]</span></p>
                </div>

            </div>
            <div class="article">
                <h3><a href="/jstt/bj/2015-01-09/740.html">【匆匆那些年】总结个人博客经历的这四年…</a></h3>
                <div class="left" style="width:250px;height: 200px">
                    <a><img src="../images/1d7c3211eba65ca6b328d7f28e10ecc6.jpg"
                            alt="【匆匆那些年】总结个人博客经历的这四年…"></a>
                </div>
                <div class="right" style="width:400px;height:200px">
                    <ul>
                        <p>博客从最初的域名购买，到上线已经有四年的时间了，这四年的时间，有笑过，有怨过，有悔过，有执着过，也有放弃过…但最后还是坚持了下来，时间如此匆匆，等再回过头已来不及去弥补</p>
                        <a title="【匆匆那些年】总结个人博客经历的这四年…" href="/jstt/bj/2015-01-09/740.html" target="_blank" class="readmore">阅读全文&gt;&gt;</a>
                    </ul>
                    <p class="dateview"><span>2015-01-09</span><span>作者：jiangchao</span><span>个人博客：[<a href="/jstt/bj/">心得笔记</a>]</span></p>
                </div>

            </div>
            <div class="article">
                <h3><a href="/jstt/bj/2015-01-09/740.html">【匆匆那些年】总结个人博客经历的这四年…</a></h3>
                <div class="left" style="width:250px;height: 200px">
                    <a><img src="../images/1d7c3211eba65ca6b328d7f28e10ecc6.jpg"
                            alt="【匆匆那些年】总结个人博客经历的这四年…"></a>
                </div>
                <div class="right" style="width:400px;height:200px">
                    <ul>
                        <p>博客从最初的域名购买，到上线已经有四年的时间了，这四年的时间，有笑过，有怨过，有悔过，有执着过，也有放弃过…但最后还是坚持了下来，时间如此匆匆，等再回过头已来不及去弥补</p>
                        <a title="【匆匆那些年】总结个人博客经历的这四年…" href="/jstt/bj/2015-01-09/740.html" target="_blank" class="readmore">阅读全文&gt;&gt;</a>
                    </ul>
                    <p class="dateview"><span>2015-01-09</span><span>作者：jiangchao</span><span>个人博客：[<a href="/jstt/bj/">心得笔记</a>]</span></p>
                </div>

            </div>
            <div class="article">
                <h3><a href="/jstt/bj/2015-01-09/740.html">【匆匆那些年】总结个人博客经历的这四年…</a></h3>
                <div class="left" style="width:250px;height: 200px">
                    <a><img src="../images/1d7c3211eba65ca6b328d7f28e10ecc6.jpg"
                            alt="【匆匆那些年】总结个人博客经历的这四年…"></a>
                </div>
                <div class="right" style="width:400px;height:200px">
                    <ul>
                        <p>博客从最初的域名购买，到上线已经有四年的时间了，这四年的时间，有笑过，有怨过，有悔过，有执着过，也有放弃过…但最后还是坚持了下来，时间如此匆匆，等再回过头已来不及去弥补</p>
                        <a title="【匆匆那些年】总结个人博客经历的这四年…" href="/jstt/bj/2015-01-09/740.html" target="_blank" class="readmore">阅读全文&gt;&gt;</a>
                    </ul>
                    <p class="dateview"><span>2015-01-09</span><span>作者：jiangchao</span><span>个人博客：[<a href="/jstt/bj/">心得笔记</a>]</span></p>
                </div>

            </div>

        </div>
    </div>
    <div class="box-right col-xs-3">
        <div class="row" style="padding-top: 30px">
            <form method="post" action="/article/search" class="form-wrapper">
                <input type="text" id="search" name="search" placeholder="请输入要搜索的文章" required="">
                <input type="submit" value="搜索" id="submit">
            </form>
        </div>
        <div class="row content-category" style="padding-top: 30px">
            <h1 class="title-shadow" style="color: #5bc0de">内容分类</h1>
            <ul>
                <li><a href="#">nodejs</a></li>
                <li><a href="#">mongodb</a></li>
                <li><a href="#">java</a></li>
                <li><a href="#">mysql</a></li>
                <li><a href="#">关于</a></li>
                <li><a href="#">音乐</a></li>
                <li><a href="#">其他</a></li>
            </ul>
        </div>
        <div class="row hot-sort" style="padding-top: 30px">
            <h1 class="title-shadow" style="color: #5bc0de">热门排行</h1>
            <p id="active-line" class="active-line" style="width: 93px; left: 0px;"></p>
            <ul class="hot-recommend-ul">
                <li class="active" order="0">点击排行</li>
                <li class order="1">评论排行</li>
                <li class order="2">点赞排行</li>
            </ul>
            <div class="list">
                <ul class="" style="border-bottom: 0px ;">
                    <li >点击排行</li>
                    <li >评论排行</li>
                    <li >点赞排行</li>
                </ul>
            </div>
        </div>
    </div>
    </div>
</div>
<div id="footer" class="col-xs-12  footer" align="center">
    <p >苏ICP备17022286号 | Design by JiangChao,version 1.0 | 登陆</p>
</div>
</body>
</html>
