body {
  background-color: #efefef!important;
  /*padding: 50px;*/
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  /*background: url(../images/beach.jpg) top center no-repeat;*/
  /*background-size:cover;*/
  /*background-attachment:hidden;*/
}

a {
  color: #00B7FF;
  text-decoration: none!important;

}
.navbar-default {
  background-color: #444!important;
  border-color: #e7e7e7;
}
.main{
  height: auto;
}
.main .box-right .content-category ul{
  list-style:none;
  padding:0px;
}
.main .box-right .content-category ul li{
  width:110px;
  float:left;
  margin: 5px;
  background-color: #9acfea;
  text-align:center;
  height:40px;
}
.main .box-right .content-category ul li:hover{
  transform: rotate(360deg);
  -ms-transform: rotate(360deg); /* IE 9 */
  -webkit-transform: rotate(360deg); /* Safari and Chrome */
  transition-duration: 1s;  /*渐变时间*/
  background-color:#efefef;
}
.main .box-right .content-category ul li a{
  text-decoration:none;
  color:#000;
  line-height:40px;
}
.main .box-right .hot-sort .active-line{
  position: relative;
  width: 100px;
  height: 1px;
  background: #3472ef;
  top: 50px;
  left: 0;
}
.main .box-right .hot-sort ul{
  list-style:none;
  padding:0px;
  border-bottom: 1px solid #d6d6d6;
  height:40px;
}
.main .box-right .hot-sort .list{
  width: 360px;
  overflow: hidden;
  float: left;
}
.main .box-right .hot-sort .list ul li{
  height: 35px;
  line-height: 35px;
  padding-left: 28px;
  width: 360px;
  border-bottom: 1px solid #cecece;

}
.main .box-right .hot-sort ul.number{
  position: relative;
  float: left;
  top: -200px;
  width:30px;
  border-bottom: hidden;
  padding-left: 5px;

}
.main .box-right .hot-sort ul.number li{
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 4px;
  margin-bottom: 15px;
  color: #fff;
  background-color: #979598;
}
.main .box-right .hot-sort ul.number li.one{
  background-color: #ff858e;
}
.main .box-right .hot-sort ul.number li.two{
  background-color: #77d549;
}
.main .box-right .hot-sort ul.number li.three{
  background-color: #62c1ff;
}

.hort-sort-content{
  position: relative;
}
.main .box-right .hot-sort ul li{
  float: left;
  width: 33.3%;
  height: 35px;
  line-height: 35px;
  font-size: 15px;
  text-align: center;
  color: #333;
  cursor: pointer;
  transition: all 1s;
}
.main .box-right .hot-sort ul .active{
  color: #3472ef;
}
.main .box-right .hot-sort {
  overflow: hidden;
}
.picture-carousel{
  background: url(../images/beach.jpg) top center no-repeat;
  background-size:cover;
}
.box-left{
  width:1000px;
  float: left;
  margin-top: 20px;
}
.box-right{
  float: right;
  margin-top: 20px;
}
h2.title-home{
  font: 24px "微软雅黑", Arial, Helvetica, sans-serif;
  color: #5bc0de;
  font-weight: bold;
  /*background: url(../images/h_line.jpg) repeat-x 20px center;*/
}
figure {
  display: block;

  -webkit-margin-start: 40px;
  -webkit-margin-end: 40px;
}
.dateview {
  width: 400px;
  margin-bottom: 0px;

  background: #f6f6f6 url(../images/time.jpg) 15px center no-repeat;
  line-height: 26px;
  height: 26px;
  color: #838383;
  padding-left: 40px;
}
.article{
  height:220px;
  width:1000px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: #ffffff;
}
div.article :hover{
  box-shadow: #555555 5px 5px 5px;
}
.left {
  float: left;
}
.right {
  float: left;
}
.footer{
  background-color:#efefef;
  height:200px;

}
#footer p{
 margin:180px auto 20px auto;

}
.title-shadow{
  text-shadow: #555555 5px 5px 5px;
}
.divCenter{
  top:30%;
  position:relative
}
.input_btn_1 {
  width: auto;
  height: 30px;
  padding: 0 15px;
  border: none;
  background-color: #0066cc;
  color: #fff;
  font: bold 12px/30px Arial, Helvetica, sans-serif;
  text-align: center;
  cursor: pointer;
}
.container{
  width:1500px!important;
}
.pageTool{
  float: left;
  width:1000px;
  margin: 20px auto 5px auto;
  text-align: center
}
.pageTool a{
  text-decoration:none;
  color:#000000;
  width:20px;
  padding: 8px;
  background-color: #ffffff;
  border-radius: 3px;
  margin-left: 10px;
  margin-right: 10px;
}
.pageTool a:hover{
  background-color: #ff0000;
  color:#ffffff;
  padding: 8px;
  border-radius: 3px;
}
.pageTool Strong{
  background-color: #ff0000;
  color:#ffffff;
  padding: 8px;
  border-radius: 3px;
}
.row{
  border-radius: 10px;
}
.blogView-category{
  border-bottom:dashed 1px #aaaded;
  border-top:dashed  1px #aaaded;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.copyRight{
  border-left: solid 5px #ff0000;
}
.article-contents{
  width:200px;
  border: solid 1px #ccc;
  background-color: #eee;

}