body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url(../images/beach.jpg) top center no-repeat;
  background-size:cover;
  background-attachment:scroll;
}

a {
  color: #00B7FF;

}
.footer{
  margin-bottom: 50px;
}
